<div class="stream-item" data-id="{{id}}" data-type="{{type}}">
  <div class="thumbnail-container">
    <img class="stream-thumbnail" src="{{thumbnail}}" alt="{{title}}">
  </div>

  <div class="stream-text-info">
    <h3 class="stream-title">{{title}}</h3>

    <div class="stream-meta">
      <span class="stream-views">{{view_count}} views</span>
      <span class="stream-duration"> • {{duration}}s</span>
    </div>

    <div class="stream-date">{{date}}</div>

    <div class="stream-description">{{description}}</div>
  </div>

  <div class="menu-wrapper">
    <button class="menu-button">⋮</button>
    <div class="menu-dropdown">
      <div class="menu-item">Watch Later</div>
      <div class="menu-item">Share</div>
      <div class="menu-item">Download</div>
      <div class="menu-item">Hide</div>
    </div>
  </div>
</div>